.chart{
	background-color: #1e1e2f;
  border-radius: 1em;
  border: 0.2em solid #1e1e2f;
  margin: 0.5em;
}

.barchart{
  background-color: #1e1e2f;
  border-radius: 1em;
  border: 0.2em solid #1e1e2f;
  margin: 0.5em;
}

.profil{
	background-color: #1e1e2f;
  border-radius: 1em;
  border: 0.2em solid #1e1e2f;
  margin: 0.5em;
}

.followers{
	background-color: #1e1e2f;
  	border-radius: 1em;
  	border: 0.2em solid #1e1e2f;
  	margin: 0.5em;
  	padding-top: 5%;
  	text-align: center;
  	font-size: 2em;
}

.clock{
	background-color: #1e1e2f;
  	border-radius: 1em;
  	border: 0.2em solid #1e1e2f;
  	margin: 0.5em;
  	padding-top: 8%;
  	text-align: center;
}

.weather{
 	background-color: #1e1e2f;
  	border-radius: 1em;
  	border: 0.2em solid #1e1e2f;
  	margin: 0.5em;
}

.todo{
  	background-color: #1e1e2f;
  	border-radius: 1em;
  	border: 0.2em solid #1e1e2f;
  	margin: 0.5em;
}

.player{
    background-color: #1e1e2f;
    border-radius: 1em;
    border: 0.2em solid #1e1e2f;
    margin: 0.5em;
}

@media only screen and (max-width: 800px) {
   .chart {
      display: none;
   }
   .barchart {
    display: none;
  }
}   

@media only screen and (max-width: 400px) {
   
   .clock {
    padding-bottom: 10%;
  }
}  

@media only screen and (max-width: 600px) {
   .followers {
      padding-top: 1%;
   }
   .clock {
    padding-bottom: 10%;
  }
}   