.App {
  text-align: center;
  background-color: black;
}

.header{
  font-size: 1em;
  color: grey;
  background-color: black;
  text-align: left;
}

.link{
  font-size: 1em;
  color: white;
  background-color: magenta;
  border-radius: 1em;
  border: 1em solid magenta;
  margin-left: 1em;
  
}

.link nav{
	margin-right: 2.5em;
}

.link nav ul{
	list-style-type:none;
}

.linkCol {
	color:white;
}

