.clock
{
	width: 100%;
	margin-top: auto;
	background: #F4ECE3;
	border-radius: 1rem;
	border:1px solid #7F90C4;
}

.clock .hour
{
	font-size: 2.5em;
	color:#6699ff;
}

.clock .day
{
	font-size: 1.5em;
	color:#7F90C4;
}